@model University.Core.Domain.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<script>
    function Edit()
    {
        $('#myModal').modal({
            keyboard: false,
            remote: "/Student/Edit/" + '@(Model.StudentID)'
        })
    }

</script>

<h3>Student Details</h3>

<form class="form-horizontal" role="form" width="30%">

    <div class="form-group">
        <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.LastName)</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Html.DisplayFor(model => model.LastName)</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.FirstMidName)</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Html.DisplayFor(model => model.FirstMidName)</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.EnrollmentDate)</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Html.DisplayFor(model => model.EnrollmentDate)</p>
        </div>
    </div>
</form>
<p>
    <button onclick="Edit()">Edit</button>
</p>


